<div class="nbar-top">
    <div class="nbar-bar" id="myNavbar" [ngClass]="">
        <a class="nbar-bar-item nbar-button nbar-hover-black nbar-hide-medium nbar-hide-large nbar-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#home" class="nbar-bar-item nbar-button">HOME</a>
        <a href="#about" class="nbar-bar-item nbar-button nbar-hide-small"><i class="fa fa-user"></i> ABOUT</a>
        <a href="#portfolio" class="nbar-bar-item nbar-button nbar-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
        <a href="#contact" class="nbar-bar-item nbar-button nbar-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="#" class="nbar-bar-item nbar-button nbar-hide-small nbar-right nbar-hover-red">
          <i class="fa fa-search"></i>
        </a>
    </div>
    <div id="navDemo" class="nbar-bar-block nbar-white nbar-hide nbar-hide-large nbar-hide-medium">
        <a href="#about" class="nbar-bar-item nbar-button" onclick="toggleFunction()">ABOUT</a>
        <a href="#portfolio" class="nbar-bar-item nbar-button" onclick="toggleFunction()">PORTFOLIO</a>
        <a href="#contact" class="nbar-bar-item nbar-button" onclick="toggleFunction()">CONTACT</a>
        <a href="#" class="nbar-bar-item nbar-button">SEARCH</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 ml-auto mr-auto text-left">
            <h2 class="title">Who are we?</h2>
            <h5 class="description">
                According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDC lead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.
            </h5>
        </div>
    </div>
    <div><i class="glyphicon glyphicon-plus" style="font-size:400px;"></i></div>
    <div class="separator separator-primary"></div>
    <div class="section-story-overview">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="image-container image-left" style="background-image: url('./assets/smirnoff.jpeg')">

                    <p class="blockquote blockquote-primary">Claustrophobia is the fear of closed spaces. For example: I am going to the liquor store and I'm scared that it's closed.
                        <br>
                        <br>
                        <small>-Navjot Singh</small>
                    </p>
                </div>
                <div class="image-container" style="background-image: url('./assets/ketel1.jpg')"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="image-container image-right" style="background-image: url('./assets/bombaySapphire.jpg')"></div>
                <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                </p>
                <p>
                    For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                </p>
                <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:70px;">
    <div class="row" *ngFor="let obj of liqOptions; let i = index;">
        <div class="col-sm">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <div class="card-title">{{obj.liqName}}</div>
                    <p *ngFor="let job of obj.liqSize" class="card-text">{{job}}</p>
                    <p *ngFor="let boj of obj.liqPrice" class="card-text">{{boj}}</p>
                </div>
            </div>
        </div>
        <!--div class="col-sm">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <div class="card-title">{{obj}}</div>
                    <p class="card-text">Price</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <div class="card-title">{{obj}}</div>
                    <p class="card-text">Price</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <div class="card-title">{{obj}}</div>
                    <p class="card-text">Price</p>
                </div>
            </div>
        </div-->
    </div>
</div>



























<!--div class="row" >
  <div class="col-3">
      <div class="card bg-light ">
          <div class="card-body text-center">
              <div class="card-title">Conact Us</div>
              <div class="column">
              </div>
              <p class="card-text">Some text inside the first card</p>
          </div>
      </div>
  </div>
  <div class="col-3">
      <div class="card bg-light ">
          <div class="card-body text-center">
              <div class="card-title">Our collection of Rum</div>
              <p class="card-text">Some text inside the first card</p>
          </div>
      </div>
  </div>
  <div class="col-3">
      <div class="card bg-light ">
          <div class="card-body text-center">
              <div class="card-title">Our collection of Tequila</div>
              <p class="card-text">Some text inside the first card</p>
          </div>
      </div>
  </div>
  <div class="col-3">
      <div class="card bg-light ">
          <div class="card-body text-center">
              <div class="card-title">Our collection of Whiskey</div>
              <p class="card-text">Some text inside the first card</p>

          </div>
      </div>
  </div>
</div>
<div class="container mt-3">
    <div id="myCarousel" class="carousel slide">
        <ul class="carousel-indicators">
            <li class="item1 active"></li>
            <li class="item2"></li>
            <li class="item3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/main/bacardiCourge.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="../../assets/bombaySapphire.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="../../assets/jw-bl.jpg" alt="New York" width="1100" height="500">
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<div class="learning-angular desktop-only">
    <div class="inner" [style.color]="'white'">
        <div class="row">
            <div class="col-3" [style.color]="'aqua'">Example pf importing some one elses picture into our website.
                <img style="width:50%;"src="{{bmwLogo}}"/>
            </div>
            <div class="col-3">
            <img [src]="bevmoImage"/></div>
            <div class="col-3">
                <h2 [style.color]="'green'"> Interpolation example is my name:</h2>
                <h3 [style.color]="'aqua'">{{getFullName()}}</h3>
            </div>
            <div class="col-3" [style.color]="'white'"> <p> Example of two way binding.
                <input type="text" [value]="name" (input)="name =$event.target.value"/><br/>
                Entered value is : {{name}}
                <br/>
                Another example of two way binding
                <input type="text" [(ngModel)]="name"/><br/>
            </div>
        </div>
        <h2 [style.color]="'darkorchid'"><u> Learning angular Playground</u></h2>

        <div [ngStyle]="setMyStyles()">
            Some important text is written here.
        </div>
        <div class="myStyles">
            Second box from the same information.
        </div>
        <div class="widget-container">
      <div class="content">
        <h1>Hello, {{name}}.</h1>
        <input *ngIf="!focusSet" type="text" #userFocus (keydown.enter)="setFocus(userFocus.value)" placeholder="What's your focus today?" />
        <div *ngIf="focusSet" class="focus">
          <p>Your main focus today is:</p>
          <p>{{focus}}</p>
        </div>
      </div>
    </div>
    </div>
    <div class="row" [style.minheight]="'300px'">
        <div class="col-3">help

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div-->















































<style>
.learning-angular{
    border: 2px dotted green;
    width: 100%;
    height: auto;
    margin: 100px auto;
}
</style>

<!--div class="row">
    <div class="col-sm-6">
        <h5>Find us on map</h5>
        <div id="map" style="width:400px;height:400px;background:aliceblue"></div>
    </div>
    <div class="col-sm-6"></div>
</div>
<script>
    function myMap() {
        debugger;
        var mapOptions = {
            //center: new google.maps.LatLng(51.5, -0.12),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDORB5aN-AMHrvx0dbRWkCIl4mfUjVGNp8=myMap"></script>
-->
<script>

window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "nbar-bar" + " nbar-card" + " nbar-animate-top" + " nbar-white";
    } else {
        navbar.className = navbar.className.replace(" nbar-card nbar-animate-top nbar-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("nbar-show") == -1) {
        x.className += " nbar-show";
    } else {
        x.className = x.className.replace(" nbar-show", "");
    }
}
</script>