<div class="nbar-top">
    <div class="nbar-bar" id="myNavbar">
        <a class="nbar-bar-item nbar-button nbar-hover-black nbar-hide-medium nbar-hide-large nbar-right"
            href="javascript:void(0);" (click)="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a routerLink="/" href="#home" class="nbar-bar-item nbar-button" style="font-size: 28px;padding: 4px 16px;">&#9783;</a>
        <a href="/search" class="nbar-bar-item nbar-button nbar-hide-small">Reports</a>
        <a href="/addEdit" class="nbar-bar-item nbar-button nbar-hide-small  ">Add/Edit Form</a>
        <a href="/payroll" class="nbar-bar-item nbar-button nbar-hide-small">Payroll</a>
        <a href="/payslip" class="nbar-bar-item nbar-button nbar-hide-small  ">Payslips</a>
        <a href="/createOrder" class="nbar-bar-item nbar-button nbar-hide-small  ">Create Order</a>
        <!--a href="/list" class="nbar-bar-item nbar-button nbar-hide-small  ">List Inventory</a-->
        <a href="/beer" class="nbar-bar-item nbar-button nbar-hide-small  ">Beer</a>
    </div>
    <div id="navDemo" class="nbar-bar-block nbar-white nbar-hide nbar-hide-medium nbar-hide-large">
        <a href="/search" class="nbar-bar-item nbar-button">Reports</a>
        <a href="/addEdit" class="nbar-bar-item nbar-button">Add/Edit Form</a>
        <a href="/payroll" class="nbar-bar-item nbar-button">Payroll</a>
        <a href="/payslip" class="nbar-bar-item nbar-button">Payslip</a>
        <a href="/createOrder" class="nbar-bar-item nbar-button">Create Order</a>
        <!--a href="/list" class="nbar-bar-item nbar-button">List Inventory</a-->
        <a href="/beer" class="nbar-bar-item nbar-button">Beer</a>
    </div>
</div>
