<div class="container" >
    <div class="jumbotron">
        <label class="radio-container" >
            <input type="radio" name="radio-filter" value="byName" (change)="radioFilter('byName')" checked="checked" />
            <span class="checkmark"></span><h6>Search liquor by name</h6>
        </label><br/>
        <label class="radio-container" >
            <input type="radio" name="radio-filter" value="byInvoiceNumber" (change)="radioFilter('byInvoiceNumber')"/>
            <span class="checkmark"></span><h6>Search liquor by invoice number</h6>
        </label><br/>
        <label class="radio-container" >
            <input type="radio" name="radio-filter" value="byDates" (change)="radioFilter('byDates')"/>
            <span class="checkmark"></span><h6>Search liquor by dates</h6>
        </label>
        <!---   =================================      ================================    -->
        <div class="row" [hidden]="byInvoiceNumber">
            <div class="col-sm-6">
                <form [formGroup]="searchInventory" (ngSubmit)="commonQueryFunction('invoiceNum', searchInventory.value.invoiceNum)" class="searchBy">
                    <input type="text"  class="" id="invoiceNum" matInput formControlName="invoiceNum" />
                    <input type="submit" class="sb-liqName" value="Submit" />
                </form>
            </div>
            <div class="col-sm-6"></div>
        </div>

        <div class="row" [hidden]="byName">
            <div class="col-sm-6">
                <form [formGroup]='reportSearchForm' (ngSubmit)="commonQueryFunction('liqName', reportSearchForm.value.liqName)" class="searchBy">
                    <input type="text"  class="" id="liqNameReport" matInput formControlName="liqName" [matAutocomplete]="auto1" />
                    <input type="submit" class="sb-liqName" value="Submit" />
                    <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptionsEdit | async" [value]="option">{{option}}</mat-option>
                    </mat-autocomplete>
                </form>
            </div>
            <div class="col-sm-6"></div>
        </div>
   <!---   =================================      ================================    -->
        <form class="row searchByDates" [formGroup]="searchInventory" (ngSubmit)="searchNow(searchInventory)" [hidden]="byDates" >
            <div class="col-sm-3">
                <label for="startDate">Start Date</label>
                <input type="date" placeholder="Choose a date"  class="form-control" id="startDate" formControlName="startDate" />
            </div>
            <div class="col-sm-3">
                <label for="endDate">End Date</label>
                <input type="date" placeholder="Choose a date"  class="form-control" id="endDate" formControlName="endDate" />
            </div>
            <div class="col-sm-3">
                <label for="">&nbsp;</label>
                <input type="submit" class="sb-liqName no-phone" value="Submit" />
                <button type="submit" class="myBtn btn-pr no-computer" style="height:40px;vertical-align:text-top;">Submit</button>
            </div>
            <div class="col-sm-3"></div>
        </form>
        <!---   =================================      ================================    -->
        <label>Result for {{reportSearchForm.value.liqName}}</label>
        <div class="searchBy-radio form-check" *ngFor="let obj of liqSizeForRadio" name="" [hidden]="searchedResponse.length===0|| byName">
            <label class="radio-container" >
                <input type="radio" name="LiqSizeRadio" [(ngModel)]="myRadioPick" value="{{obj}}" (change)="radioChecked(obj)" >
                <span class="checkmark"></span>{{obj}}
            </label>
        </div>
    </div>
</div>
<app-modal [deleteInfo]="deleteInfo" [hidden]="deleteKarna"></app-modal>
<app-add-edit [keyword]="keyword" [hidden]="editKarna"></app-add-edit>
<div style="width:100%;padding-left:15px;padding-right:15px;">
    <div class="row searchTerm-row" [hidden]="responseData === undefined">
        <div class="col-md-3">
            <marquee BEHAVIOR="ALTERNATE" class="marquee-style">
                <div class="flash count marquee-div" [hidden]="totalEntries === null"><span class="totalCount">{{totalEntries}}</span></div>
            </marquee>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-5" style="text-align:center">
            <input type="text" id="searchTerm" class="form-control searchTerm" [(ngModel)]="searchTerm" placeholder="Search text goes here" />
        </div>
    </div><br class="no-computer"/>
    <div class="no-computer">
        <div class="auto-grid">
            <div  *ngFor="let liq of responseData |filter:searchTerm" class="grid-col"
            [ngStyle]="(1 - (liq.price/liq.sellPrice))*100 >= 40 ? {'background-color': '#57A635'}:{'background-color': '#58616B'}
            && (1 - (liq.price/liq.sellPrice))*100 < 29 ? {'background-color': '#B63125'}:{'background-color': '#58616B'}">
                <div>{{liq.liqName}}</div>
                <div>Size: {{liq.liqSize }}</div>
                <div>Buying Price: ${{liq.price}}</div>
                <div>Selling Price: ${{liq.sellPrice }}</div>
                <div>Percentage: {{(1 - (liq.price/liq.sellPrice))*100|round }}%</div>
                <div>Purchase Date: {{liq.invoiceDate | date: 'MMM-dd-yy'}}</div>
                <div>Quantity: {{liq.quantity }}</div>

            </div>
        </div>
    </div>

    <table class="stbs-table no-phone"  (matortChange)="sortData($event)" (scroll)="onScroll($event)">
        <thead>
            <tr>
                <th (click)="sortData({active:'invoiceDate', direction:'asc'})">InvoiceDate</th>
                <th class="desktop-only liqNameClass" (click)="sortData({active:'liqName', direction:'asc'})" >Liquor Name</th>
                <th (click)="sortData({active:'price', direction:'asc'})">Price</th>
                <th (click)="sortData({active:'sellPrice', direction:'asc'})">SellPrice</th>
                <th (click)="sortData({active:'invoiceNum', direction:'asc'})" class="desktop-only">InvoiceNum</th>
                <th (click)="sortData({active:'liqSize', direction:'asc'})">Liquor Size</th>
                <th (click)="sortData({active:'liqType', direction:'asc'})" class="desktop-only">Liquor Type</th>
                <th (click)="sortData({active:'quantity', direction:'asc'})">Quantity</th>
                <th (click)="sortData({active:'salesPerson', direction:'asc'})">SalesPerson</th>
                <th>Edit / Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let liq of responseData |filter:searchTerm"  [ngStyle]="(1 - (liq.price/liq.sellPrice))*100 >= 40 ? {'color': '#0b8203'}:{'color': '#0D1C3D'} && (1 - (liq.price/liq.sellPrice))*100 < 29.5 ? {'color': '#B63125'}:{'color': '#0D1C3D'}">
                <td>{{liq.invoiceDate | date: 'MMM-dd-yy'}}</td>
                <td class="desktop-only liqNameClass">{{liq.liqName}}</td>
                <td>{{liq.price}}</td>
                <td>{{liq.sellPrice }}
                    <div class="badged" [hidden]="liq.price/0.7 < liq.sellPrice && liq.price/0.6 > liq.sellPrice"
                        [ngStyle]="liq.price/0.7 > liq.sellPrice && {'background-color': '#ed4c4c'} ||{'background-color': '#0b8203'}">
                        {{((liq.sellPrice - liq.price)/liq.sellPrice)*100 < 30 ? (((liq.sellPrice - liq.price)/liq.sellPrice)*100 | round) : ''}}
                        {{((liq.sellPrice - liq.price)/liq.sellPrice)*100 > 40 ? (((liq.sellPrice - liq.price)/liq.sellPrice)*100 | round) : ''}}
                    </div>
                </td>
                <td class="desktop-only">{{liq.invoiceNum }}</td>
                <td>{{liq.liqSize }}</td>
                <td class="desktop-only">{{liq.liqType }}</td>
                <td>{{liq.quantity }}</td>
                <td>{{liq.salesPerson }}</td>
                <td><span class="edit-liquor" (click) = 'editEntry(liq)' aria-label="Close">&#x0270E;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="edit-liquor" (click) = 'deleteEntry(liq)' aria-label="Close">&#x2715;</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="desktop-only" [hidden]="searchTerm === null">
        <pre >{{responseData | filter:searchTerm |json }}</pre>
    </div>
</div>
<br/><br/><br/>
